<ul class="vote-count">
  <li>
    <%= votes_yes %>
    <i class="fa <%= icon_class_for_vote('yes') %>" aria-hidden="true"></i>
  </li>
  <li>
    <%= votes_no %>
    <i class="fa <%= icon_class_for_vote('no') %>" aria-hidden="true"></i>
  </li>
</ul>
