<!doctype html>
<html>

<head>
  <title>Caesar</title>

  <link href="/stylesheets/app.css" rel="stylesheet" type="text/css">

  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
  <%= yield %>
</body>

</html>
